body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: indianred;
}
button{
    align-items: center;
    background-color:beige;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}
